@import "break-points";
@import "layout";

.banner{
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}

.bannerItem{
  width: 33.33333333%;
  text-align: center;
  margin: 0 0 50px;
  padding: 0 15px;
}

.icon{
  margin-bottom: 20px;
}

.bannerTitle{
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bannerDescriptionText{
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  margin: 0 0 10px;
}