@import "break-points";
@import "layout";
@import "theme";

.download{
  padding: 100px 0;
  text-align: center;
}

.downloadTitle{
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
  margin: 0 0 10px;
}
.btnDownload{
  padding: 15px 40px;
  display: inline-block;
  background-color: $accent-color;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
}

.btnDownload:hover{
  background-color: #e52e2e;
}
.downloadDescription{
  font-size: 14px;
  color: #2d3033;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 40px;
}