@import "break-points";
@import "layout";
@import "theme";

.reviews{
  display: flex;
  background-color: #53354A;
  width: 100%;
  overflow: hidden;
}

.reviewsItem{
  display: flex;
  flex-wrap: wrap;
}
.reviewsPhoto{
  width: 50%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.reviewsPhoto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.reviewsContent{
  width: 50%;
  padding: 60px 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.reviewsText{
  font-family: 'Cardo', sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  color: white;
  margin-bottom: 30px;
}

.reviewsAuthor{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-bottom: 25px;
}

.buttonsSlider{
  display: flex;
  justify-content: center;
}

.buttonPrev:hover, .buttonNext:hover{
  background-color: white;
  cursor: pointer;
}

.buttonPrev{
  display: flex;
  height: 11px;
  width: 11px;
  border-radius: 100%;
  background-color: #C6CACC;
  margin-right: 10px;

}

.buttonNext{
  display: flex;
  height: 11px;
  width: 11px;
  border-radius: 100%;
  background-color:#C6CACC;

}

@media screen and (max-width: $xl){
  .reviewsPhoto{
    width: 100%;
    margin-bottom: 100px;
  }
  .reviewsContent{
    width: 100%;
    margin-bottom: 50px;
    padding: 0 70px;
  }

  .reviewsText{
    font-size: 40px;
  }
}
@media screen and (max-width: $md){
  .reviewsPhoto{
    width: 100%;
    margin-bottom: 100px;
  }
  .reviewsContent{
    width: 100%;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .reviewsText{
    font-size: 30px;
  }
}

@media screen and (max-width: 320px){
  .reviewsPhoto{
    width: 100%;
    margin-bottom: 100px;
  }
  .reviewsContent{
    width: 100%;
    margin-bottom: 50px;
    padding: 0 30px;
  }

  .reviewsText{
    font-size: 25px;
  }
}