@import "break-points";
@import "layout";
@import "theme";

.reviews{
  background-color: #53354A;
  overflow: hidden;
}

.reviewsItem{
  display: flex;
  flex-wrap: wrap;
}
.reviewsPhoto{
  width: 50%;
  height: 358px;
  position: relative;
}

.authorReviews{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;

}

.reviewsContent{
  width: 50%;
  padding-left: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.reviewsText{
  font-family: 'Cardo', sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  color: white;
  margin-bottom: 20px;
}

.reviewsAuthor{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.buttonsSlider{
  display: flex;
  justify-content: center;


}

.buttonPrev:hover, .buttonNext:hover{
  background-color: white;
  cursor: pointer;
}

.buttonPrev{
  display: flex;
  height: 11px;
  width: 11px;
  border-radius: 100%;
  background-color: #C6CACC;
  margin-right: 10px;

}

.buttonNext{
  display: flex;
  height: 11px;
  width: 11px;
  border-radius: 100%;
  background-color:#C6CACC;

}
@media screen and (max-width: $lg){
  .reviewsPhoto{
    width: 100%;
    margin-bottom: 100px;
  }
  .reviewsContent{
    width: 100%;
    margin-bottom: 50px;
  }

  .reviewsText{
    font-size: 25px;
  }
}