@import "theme";
@import "break-points";
@import "layout";

#teams{
  padding: 100px 0;
}

.teamContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teamCard{
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  margin-bottom: 50px;
  margin-right: 20px;
}

.imageContainer{
  width: 100%;
}

.imageContainer img{
  width: 100%;
}

.name{
  font-size: 22px;
  color:  #2d3033;
  margin: 20px 0 10px 0;
}

.role{
  color: $accent-color;
  font-size: 13px;
  margin-bottom: 20px;
}

.description{
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  flex-grow: 1;
}

.networkLink{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 225px;
}

.networkLink a{
  border: 1px solid #e8ecee;
  border-radius: 3px;
  color: #C6CACC;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  margin-right: 5px;
}

.networkLink a:hover, a:active{
  color: white;
  border-color: $accent-color;
  background-color: $accent-color;
}

@media screen and (max-width: $xl){
  .teamCard{
    margin-right: 70px;
    margin-left: 70px;
  }
}

